{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">

  <div class="row">
    {% for product in products %}
    <div class="col-lg-4">
      <!-- image_url from class product -->
      <img class="thumbnail" src="{{product.image_url}}" alt="">
      <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr>
        <button class="btn btn-outline-secondary add-btn update-cart" data-product="{{product.id}}" data-action="add">ເພີ່ມໃສ່ກະຕ່າ</button>
        <!-- <a class="btn btn-outline-success" href="#">View</a> -->
        <h4 style="display: inline; float: right;">{{random_six_product.price|floatformat:2}} kip</h4>
      </div>
    </div>
    {% endfor %}
  
  </div>
</div>
{% endblock content %}