{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
  .profile-image {
    border-radius: 50%;
    width: 200px; /* Adjust the size as needed */
    height: 200px; /* Make sure to set width and height to maintain aspect ratio */
    object-fit: cover; /* Ensures the image fills the circle without stretching */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow effect */
  }
</style>

<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2>ລາຍລະອຽດຕິດຕໍ່</h2>
      <img src="{% static 'images/mack.jpg' %}" alt="Profile Image" class="profile-image">
      <br><br>
      <p><strong>ຊື່ ແລະ ນາມສະກຸນ:</strong> ທ້າວ ທີລະເດດ ບົວພັນ</p>
      <p><strong>ເບີໂທ:</strong> 02094491604</p>
      <p><strong>ອີເມວ:</strong> mack@gmail.com</p>
      <p><strong>ທີ່ຢູ່:</strong> ເມືອງພຽງ</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d443.51903161760316!2d102.14455791070154!3d19.88069092672719!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1slo!2sla!4v1689533073864!5m2!1slo!2sla" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>

{% endblock content %}
