{% extends 'dashboard/main.html' %}
{% load static %}
{% block content %}

<div class="row">
  <div class="col-lg-12">
    <h2>ລາຍການສັ່ງຊື້ຂອງ: {{ customer.name }}</h2>
    <hr>
  </div>
</div>

<div class="row">
  {% for order in orders %}
  <div class="col-lg-4">
    <!-- Display order details -->
    <div class="box-element order">
      <h6><strong>ID ສັ່ງຊື້: {{ order.id }}</strong></h6>
      <p>ວັນທີ່ສັ່ງຊື້: {{ order.date_ordered }}</p>
      <!-- Additional order details can be displayed here -->
      <hr>
      <!-- Display order items -->
      <h6><strong>ລາຍການສັ່ງຊື່:</strong></h6>
      <ul>
        {% for order_item in order.orderitem_set.all %}
        <li>{{ order_item.product.name }} - ຈຳນວນ: {{ order_item.quantity }}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock content %}
